* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {
  height: 170px;
  width: 85%;
}

.box-md {
  height: 255px;
  width: 70%;
}

.box-lg {
  height: 345px;
  width: 65%;
}

.border{
  border: 8px solid black;
  border-radius: 6px;
}

#yellow {
  background-color: yellow;
  margin: 100px auto;
  padding-top: 70px;
}

#red {
  background-color: red;
  margin: auto;
}

#blue{
  background-color: cyan;
  margin: 40px auto;

}
